---
import BaseHead from "../../components/BaseHead.astro";
import Footer from "../../components/Footer.astro";
import Header from "../../components/Header.astro";
import ChangeOrder from "../../components/trees/ChangeOrder.astro";
import Examples from "../../components/trees/Examples.astro";
import TreeResult from "../../components/trees/TreeResult.astro";
import Variables from "../../components/trees/Variables.astro";
import "../../styles/tree-styles.css";
import "../../styles/logic-tree.css";

---

<!DOCTYPE html>
<html lang="en">
    <head>
        <BaseHead title="Kavpix | Logic Gate Calculator"/>
    </head>
    <body>
        <div class="page-cont">
            <Header back="../" />
            <div class="code-example-cont">
                <div class="left">
                    <div class="input-cont">
                        <div class="title">Logic tree</div>
                        <div class="form-cont">
                            <form id="logic-gate-form">
                                <label>
                                    <div class="input-label">
                                        Type an expression with
                                        <span class="input-info">
                                            <span class="text">Logic Inputs</span>
                                            <span class="info">Binary (0, 1) or boolean (T, F)</span>
                                        </span>,
                                        <span class="input-info">
                                            <span class="text">Variables</span>
                                            <span class="info">Any lower-case English letter</span>
                                        </span>, and
                                        <span class="input-info">
                                            <span class="text">Operators</span>
                                            <span class="info">
                                                <span class="info-left">
                                                    ~<br>
                                                    &<br>
                                                    |<br>
                                                    ~&<br>
                                                    ~|<br>
                                                    !=<br>
                                                    =&gt;<br>
                                                    &lt;=&gt;<br>
                                                    ()
                                                </span>
                                                <span class="info-right">
                                                    Not<br>
                                                    And<br>
                                                    Or<br>
                                                    Nand<br>
                                                    Nor<br>
                                                    Xor<br>
                                                    Implies<br>
                                                    Biconditional<br>
                                                    Parentheses
                                                </span>
                                            </span>
                                        </span>
                                    </div>  
                                </label>
                                <input 
                                    type="text"
                                    id="logic-gate-inp"
                                    name="logic-gate-inp"
                                    required
                                />
                            </form>
                        </div>
                        <Examples examples={["0 & 1 | 0", "a != b | c", "(T ~& F) != (~a | b)", "0 & T", "~(a & 1)"]} />
                        <script>
                            import { exampleListener } from "../../scripts/logic-tree/logic-tree-interactions";

                            exampleListener(document.getElementById("examples"));
                        </script>
                    </div>
                    <ChangeOrder operationInps={[
                        {symbol: "~&", name: "nand", precedence: 5},
                        {symbol: "~|", name: "nor", precedence: 4},
                        { symbol: "&", name: "and", precedence: 3 },
                        { symbol: "∥", name: "or", precedence: 2},
                        { symbol: "⇒", name: "implies", precedence: 2},
                        { symbol: "≢", name: "xor", precedence: 1 },
                        { symbol: "⇔", name: "biconditional", precedence: 1},
                    ]} />
                    <script>
                        import { gatePrecedenceListener } from "../../scripts/logic-tree/logic-tree-interactions";

                        const ids = ["or", "nor", "nand", "xor", "implies", "biconditional"].reduce((p, c) => {
                            return {
                                ...p,
                                [c]: "order-" + c
                            }
                        }, {"and": "order-and"});

                        gatePrecedenceListener(document.getElementById("re-orderer-form"), ids);
                    </script>

                    <Variables />
                    <script>
                        import { variableListener, updateVariablesListener } from "../../scripts/logic-tree/logic-tree-interactions";

                        variableListener();
                        updateVariablesListener();
                    </script>
                </div>

                <div class="right">
                    <TreeResult />
                </div>
            </div>
            <script>
                import { gateListener } from "../../scripts/logic-tree/logic-tree-interactions";
                gateListener();
            </script>
            <footer>
                <div class="copyright">
                    &copy; 2022-2023 kavpix, All rights reserved.
                </div>
                <div class="forbidden">
                    Read the <a class="inline underline text-violet-800" href="/number-tree/essay/part10">article</a> on how and why I made this
                </div>
            </footer>   
        </div>
    </body>
</html>