---
import type { log } from "astro/dist/core/logger/core";
import "../../styles/tree-styles.css";
---

<div class="result-cont">
    <div class="result" id="result" />
    <div class="tree" id="tree">
        <div id="myDiagramDiv" />
    </div>
</div>