---

import "../../styles/exp-calculator.css";

---

<div class="variables-cont hidden">
    <div class="title">Variables</div>
    <div class="variables-text">Assign values to the variables</div>
    <div class="variables" id="variables">
        <!-- EXAMPLE:
        <div class="variable">
            <label>a</label>
            <input type="number">
        </div>
        -->
    </div>
</div>