---

import BaseHead from "../../components/BaseHead.astro";
import { SITE_TITLE } from "../../config";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import ExpCalc from "../../components/stylesheets/ExpCalc.astro"

---

<!DOCTYPE html>
<html lang="en">
    <head>
        <BaseHead title=`${SITE_TITLE} | Expression Calculator``/>
        <ExpCalc />
    </head>
    <body>
        <div class="page-cont">
            <Header back="../"/>
            <div class="code-example-cont">
                <div class="input-cont">
                    <form>
                        <label>
                            <div class="input-label">
                                Type an expression with integers,
                                <span class="input-info">
                                    <span class="text">variables,</span>
                                    <span class="info">
                                        Any lower-case<br>
                                        English letter 
                                    </span>
                                </span> and 
                                <span class="input-info">
                                    <span class="text"> operations</span>
                                    <span class="info align">
                                        <span class="info-left">
                                            +<br>
                                            -<br>
                                            &#xD7;<br>
                                            &#xF7;<br>
                                            -<br>
                                            ()
                                        </span>
                                        <span class="info-right">
                                            addition<br>
                                            subtraction<br>
                                            multiplication<br>
                                            spanision<br>
                                            negation<br>
                                            parentheses
                                        </span>
                                    </span>
                                </span>
                            </div>
                        </label>
                        <input 
                            type = "text"
                            id = "num-exp-inp"
                            name = "num-exp-inp"
                            required
                        />
                    </form>
                </div>

                <div class="examples" id="examples">
                    <div class="example">
                        10 + a * 2
                    </div>
                    <div class="example">
                        x * -(1 - y)
                    </div>
                    <div class="example">
                        7 * 3 + 100
                    </div>
                    <div class="example">
                        12 / -10 * a
                    </div>
                    <div class="example">
                        x + x * (x) - x - x + x / x * x
                    </div>
                </div>

                <div class="result-cont">
                    <div class="result" id="result" />
                    <div class="tree" id="tree">
                        <div id="myDiagramDiv" />
                    </div>
                </div>
                <script>
                    import { startListening, exampleClickListener } from "../../scripts/tree-expressions/numbers/numbers-browser";
                    startListening();
                    exampleClickListener(document.getElementById("examples"));
                </script>
            </div>
            <Footer />
        </div>
    </body>
</html>