---
import BaseHead from "../../components/BaseHead.astro";
import Footer from "../../components/Footer.astro";
import Header from "../../components/Header.astro";
import { SITE_TITLE } from "../../config";

---

<!DOCTYPE html>
<html lang="en">
    <head>
        <BaseHead title={`${SITE_TITLE} | Number Tree`} />
        <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    </head>
    <body>
        <div class="page-cont">
            <Header back={"../"} />

            <div class="code-example-cont">
                <div class="code-example">
                    <form class="form">
                        <label>
                            <div>
                                Type an expression with numbers,
                                <div class="label-hover-info">
                                    <div class="text"> variables</div>
                                    <div class="info">Any lower-case english letters</div>
                                </div> and 
                                <div class="label-hover-info">
                                    <div class="text"> operations</div>
                                    <div class="info">
                                        + (addition), <br>
                                        - (subtraction), <br>
                                        * (multiplication), <br>
                                        / (division), <br>
                                        - (negation), <br>
                                        () (parantheses)
                                    </div>
                                </div>:
                            </div>
                        </label>
                        <input 
                            type = "text"
                            id = "num-exp-inp"
                            name = "num-exp-inp"
                            required
                        />
                    </form>

                    <div class="result-cont">
                        <div class="result-label">Result: </div>
                        <div id="result" />
                        <div class="diagram-cont">
                            <div id="myDiagramDiv"/>
                        </div>
                    </div>
                    <script>
                        import { startListening } from "../../scripts/tree-expressions/numbers/numbers-browser";
                        startListening();
                    </script>
                </div>
            </div>
            <Footer />
        </div>
    </body>
</html>