---
import BaseHead from "../../components/BaseHead.astro";
import Footer from "../../components/Footer.astro";
import Header from "../../components/Header.astro";
import {Content as Essay} from "../../essays/number-tree/essay.md";
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <BaseHead title="Kavpix | Expression Calculator Essay"/>
    </head>
    <body>
        <div class="page-cont">
            <Header back="https://code.kavpix.com" />
            <div>
                <Essay />
            </div>
            <Footer />
        </div>
        <script type="module">
            import mermaid from 'https://cdn.jsdelivr.net/npm/mermaid@10/dist/mermaid.esm.min.mjs';
            mermaid.initialize({ startOnLoad: true });
        </script>

        <script>
            document.addEventListener("click", (ev) => {console.log("Clickeddd")});
        </script>
    </body>
</html>