.code-example-cont {
    height: 100%;
    width: 100%;
    text-align: center;
}
.code-example {
    height: 100%;

    display: grid;
    grid-template-rows: 40% 1rem 1fr;
    font-size: 20px;
}

.result-cont {
    display: grid;
    grid-template-rows: max-content 1fr;
    font-size: 2rem;
}
#result {
    /* margin: 1rem 0rem; */
    height: 100%;
    width: 100vw;
    /* font-size: 90%; */
}
.power-set-inp-cont {
    display: flex;
    align-items: center;
    justify-content: center;
}
.curly {
    margin: 1rem;
}
.hidden {
    display: none;
}

/* #result {
    height: 1rem;
    width: 100vw;
} */

/* ------ NUMBER TREE ------- */

.input-cont {
    display: grid;
    grid-template-rows: 1fr 1rem;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.form input {
    width: 50%;
    height: 20%;
    font-size: 90%;
    text-align: center;
    border-radius: 7px;
    border: none;
    outline: none;
    color: #5054a1;
}
.form input:focus {
    color: black;
}
.form label {
    display: flex;
}
label div {
    display: inline;
}

.label-hover-info {
    position: relative;
}
.label-hover-info .text {
    text-decoration: underline;
    display: inline;
}
.label-hover-info .info {
    display: none;
}
.label-hover-info:hover .info {
    /* display: flex; */
    z-index: 1000;
    
    position: absolute;
    left: 50%;
    top: calc(100% + 1rem);

    transform: translate(-50%, 0%);


    background-color: white;

    /* font-size: 70%; */
    display: flex;
    align-items: center;
    justify-content: center;

    width: calc(max-content + 0.5rem);

    padding: 0.5rem 1rem;
    border-radius: 1rem 1rem 2rem 2rem;
    border: 2px solid #5054a155;
}
.info-left {
    width: max-content;
}

.info .info-right {
    text-align: left;
    margin-left: 2rem;
}

/* ----- examples --------- */

.examples {
    display: flex;
    justify-content: center;
}
.example { 
    /* SAME STYLES FROM .filter-tag IN KAVPIX.COM */
    padding: 0.4rem 0.6rem;
    background-color: #c3b6e0;
    border: 2px solid #c8dce0;
    border-radius: 1rem;
    cursor: pointer;
    user-select: none;
    font-size: 0.5rem;
    
    display: flex;
    justify-content: center;
    align-items: center;

}
.example:hover {
    border-color: black;
}

/* */

.diagram-cont {
    width: 100vw;
    height: 100%;
}
#myDiagramDiv {
    width: calc(100vw - 10%); 
    height: 100%;
    margin: 0 auto;
    background-color: #c8dce0;
    text-align: left;
    border-radius: 10px;
}
/* .fade-in {
    animation: 0.4s ease-out running normal none 1 0s fadein;
} */

@keyframes fadein {
    0% {
        opacity: 0;
        font-size: 0px;
    }
    100% {
        opacity: 100;
    }
}