.code-example-cont {
    height: 100%;
    width: 100%;
    text-align: center;
}
.code-example {
    height: 100%;

    display: grid;
    grid-template-rows: 30% 1fr;
}

.result-cont {
    display: grid;
    grid-template-rows: 1rem 1rem 1fr;
}
.result-cont .result-label {
    font-size: 75%;
}

#result {
    /* margin: 1rem 0rem; */
    height: 100%;
    font-size: 90%;
}
.power-set-inp-cont {
    display: flex;
    align-items: center;
    justify-content: center;
}
.curly {
    margin: 1rem;
}
.hidden {
    display: none;
}

#result {
    height: 1rem;
    width: 100vw;
}

/* ------ NUMBER TREE ------- */

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.form label div {
    display: flex;
}
.form input {
    width: 50%;
    height: 20%;
    font-size: 80%;
    text-align: center;
    border-radius: 7px;
    border: none;
    outline: none;
    color: #5054a1;
}
.form input:focus {
    color: black;
}
.form label {
    font-size: 0.8rem;
}

.label-hover-info .text {
    text-decoration: underline;
}
.label-hover-info .info {
    display: none;
}
.label-hover-info:hover .info {
    /* display: flex; */
    z-index: 1000;
    
    position: relative;
    bottom: 2rem;
    left: -50%;

    background-color: white;

    font-size: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding: 1rem; */
    
}

.diagram-cont {
    width: 100vw;
    height: 100%;
}
#myDiagramDiv {
    width: calc(100vw - 10%); 
    height: 100%;
    margin: 0 auto;
    background-color: #FFFFFF;
    text-align: left;
    border-radius: 10px;
}
/* .fade-in {
    animation: 0.4s ease-out running normal none 1 0s fadein;
} */

@keyframes fadein {
    0% {
        opacity: 0;
        font-size: 0px;
    }
    100% {
        opacity: 100;
    }
}