.code-example-cont {
    height: 100%;
    width: 100%;

    display: grid;
    grid-template-columns: 1fr 1fr;
}

.left {
    height: 100%;
    width: 100%;
    display: grid;  
    grid-template-rows: 1fr 1fr 2fr;
    /* grid-gap: 1rem; */
    max-height: calc(100vh - 6rem);

    background-image: linear-gradient(to bottom right, transparent, #c9f4fb);

    gap: 1rem;
}
/* 
.input-cont {
    background-image: linear-gradient(to bottom right, transparent, #9effdf54);
}
.change-order {
    background-image: linear-gradient(to right, transparent, #8ffff446);
}
.variables-cont {
    background-image: linear-gradient(to right, transparent, #bcc7f935);
} */

.title {
    color: #070747;

    display: flex;
    align-items: center;
    justify-content: center;

    min-height: 1.5rem;
    
    width: 100%;

    font-weight: bold;

    padding: 0.2rem;

    font-size: 0.9rem;

    background-image: linear-gradient(to right, transparent, #4cc9ff66, transparent);

    text-shadow: rgb(0, 255, 204) 0 0 30px;
}

/* ---INPUT--- */

.input-cont {
    height: 100%;

    display: grid;
    grid-template-rows: 2rem max-content max-content;
    gap: 0.5rem;
}

.form-cont {
    height: max-content;
    width: 100%;
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: center;
}

form {
    width: 100%;
    height: 100%;

    display: grid;
    grid-template-rows: 2rem 1fr;

    justify-items: center;
}

input {
    width: 90%;
    height: 2.5rem;

    margin: 0 auto;

    font-size: 1.8rem;
    text-align: center;

    border-radius: 7px;
    border: none;
    outline: none;

    color: #5054a1;
}

/* label */

label {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.input-label {
    font-size: 0.6rem;

    display: inline;
    text-align: center;
}

.input-info {
    position: relative;
}
.input-info .text {
    display: inline;

    text-decoration: underline;
}

/* hover-info */

.info {
    display: none;
}

.input-info:hover .info {
    z-index: 1000;
    
    position: absolute;
    left: 50%;
    top: calc(100% + 1rem);

    transform: translate(-50%, 0%);


    background-color: white;

    /* font-size: 70%; */
    display: flex;
    align-items: center;
    justify-content: center;

    width: calc(max-content + 0.5rem);

    padding: 0.5rem 1rem;
    border-radius: 1rem 1rem 2rem 2rem;
    border: 2px solid #5054a155;
}

/* ---EXAMPLES--- */

.examples {
    height: 100%;
    max-width: 90%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;

    align-content: flex-start;
    gap: 0.5rem;

    margin: 0 auto;
}
.example {
    height: 1rem;
    width: fit-content;

    /* margin: 0rem 0.5rem;   */
    padding: 0rem 0.5rem;  

    background-color: #cac1e9;
    border-radius: 1rem;

    font-size: 0.7rem;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;

    color: #33335e;
}

/* ---ORDERING--- */

.change-order {
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 0.2rem;
}

.change-order form {
    grid-template-rows: max-content max-content !important;
    height: 100%;
    gap: 0.2rem;
}

.change-order form label {
    font-size: 0.65rem;
}

.operations {
    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 1000;
}

.operation {
    height: 100%;
}
.operation input {
    height: 1rem;
    width: 2rem;
    margin: 0rem 1rem;

    font-size: 0.6rem;
}
.operation .symbol {
    font-size: 0.8rem;

    text-align: center;
}

/* ---VARIABLES--- */

.variables-cont.hidden {
    opacity: 0;
}

.variables-cont {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */

    overflow-y: auto;
    overflow-x: hidden;
    max-height: 100%;
}

.variables-cont .title {
    position: sticky;
    top: 0; 
    z-index: 1000;
}

.variables-text {
    padding-top: 0.4rem;
    font-size: 0.6rem;
}

/* .variables-text {
    font-size: 1rem;
    text-align: center;

    position: sticky;
    top: 0;

    background-color: #c8dce0;

    z-index: 1000;

    border-radius: 0rem 0rem 1rem 1rem;
    border: 1px solid #00000033;
    border-top-color: #c8dce0; */
/* } */


.variables {
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.variable {
    margin: 0.8rem 0.5rem 0rem 0.5rem;
    display: grid;
    grid-template-rows: 1.5rem 1fr;
}
.variable input {
    width: 3rem;
    height: 1.8rem;
    font-size: 0.8rem;
}
.variable label {
    font-size: 0.8rem;
}

/* ---RESULT--- */

.right {
    height: 100%;
    width: 100%;
}

.result-cont {
    height: 100%;
    display: grid;
    grid-template-rows: /*5rem*/ 3rem 1fr;
    
    background-image: linear-gradient(to bottom, #c8dce0, #c9f4fb);
}

.result {
    display: flex;
    justify-content: center;
    align-items: center;

    /* margin-bottom: 1.2rem; */

    font-size: 1.8rem;
    font-weight: lighter;

    color: #5054a1;

    background-image: linear-gradient(to right, #c8dce0, #c9f4fb, #c8dce0);
}

#myDiagramDiv {
    width: 100%;
    height: 100%;

    /* background-image: linear-gradient(to right, #c8dce0, #c9f4fb, #c8dce0) */
    cursor: grab;
}

/* Media queries */

@media (max-width: 500px) {
    input {
        width: 80%;
        font-size: 1rem;
    }
    .input-label {
        font-size: 0.6rem;
    }
    .result-cont {
        grid-template-rows: /*1rem*/ 1.2rem 1fr;
    }
    .result {
        font-size: 1rem;
    }
    .example {
        font-size: 0.5rem;
        width: max-content;
        height: max-content;
    }
    form {
        height: max-content;
    }
}
@media (max-width: 1000px) and (min-width: 500px) {
    input {
        font-size: 1rem;
        width: 50%;
    }
    .input-label {
        font-size: 0.6rem;
    }
    .example {
        font-size: 0.5rem;
        height: max-content;
        width: max-content;
    }

    .result-cont {
        grid-template-rows: /*1rem*/ 2rem 1fr;
    }
    .result {
        font-size: 1rem;
    }

    .page-cont {
        grid-template-rows: 4rem 1fr 1rem;
    }
    .left {
        max-height: calc(100vh - 5rem);
    }
    footer {
        height: 1rem
    }
    .change-order form label {
        font-size: 0.5rem;
    }
    .change-order form {
        /* grid-template-rows: 1.3rem 1fr; */
    }
    .symbol {
        font-size: 0.6rem;
    }

}
@media (max-width: 1500px) and (min-width: 1000px) {
    html {
        font-size: 25px;
    }
    .page-cont {
        grid-template-rows: 3rem 1fr 1rem;
    }
    .left {
        max-height: calc(100vh - 4rem);
        grid-template-rows: 1fr 1fr 2fr;
    }
    input {
        font-size: 1.3rem;
        height: 1.8rem;
    }
    .example {
        font-size: 0.7rem;
    }

    .change-order form label {
        font-size: 0.6rem;
    }
    .operation input {
        font-size: 0.6rem;
        height: 0.8rem;
    }
    #re-orderer-form {
        grid-template-rows: 1.3rem 1fr;
    }
    .symbol {
        font-size: 0.7rem;
    }

    .result-cont {
        grid-template-rows: 2rem 1fr;
    }
    .result {
        font-size: 1.3rem;
    }
    footer {
        height: 1rem;
    }
}

@media (max-width: 800px) {
    .page-cont {
        width: 100vw;
        overflow-x: hidden;
        overflow-y:scroll;
        grid-template-rows: 1.5rem 1fr 0.6rem;
    }
    .header {
        position: relative;
        height: 1.5rem;
    }
    .header-img {
        height: 1rem;
    }
    .header-left, .header-middle, .header-right, .header-title a {
        height: 1.5rem;
    }
    .header-title a {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .back {
        font-size: 1rem;
    }
    .social-img {
        width: 0.7rem;
        height: 0.7rem;
    }
    .code-example-cont {
        grid-template-rows: 1fr 1fr;
        grid-template-columns: none;
    }
    .input-cont input {
        font-size: 0.8rem;
        height: 1.3rem;
        width: 90%;
    }
    .input-label {
        max-width: 100vw;
        font-size: 0.5rem;
        word-wrap: normal;
    }
    .input-cont {
        max-width: 100vw;
    }
    .left {
        max-height: calc(100vh - 1.5rem);
        grid-template-rows: 2fr 1.5fr 2fr;
    }
    .change-order form label {
        font-size: 0.5rem;
    }
    .symbol {
        font-size: 0.6rem !important;
    }
    .operation input {
        margin: 0rem 0.3rem;
        font-size: 0.55rem;
        height: 0.7rem;
        width: 1.5rem;
    }
    .form-cont form {
        grid-template-rows: 1.3rem 1fr;
    }
    .form-cont form input {
        max-width: 90vw;
    }

    .example {
        font-size: 0.45rem;
    }

    #re-orderer-form {
        grid-template-rows: 0.8rem 1fr;
    }
    footer {
        font-size: 0.3rem;
        height: 0.6rem;
    }

    .result-cont {
        display: flex;
        flex-direction: column;
    }
    .result {
        height: 2rem;
    }
    .tree {
        min-height: 18rem;
        max-width: 80%;
        margin: 0 auto;
    }

    .variables-cont {
        margin-top: 0rem;
        display: flex;
        align-items: center;
    }
    .variable {
        grid-template-rows: 1rem 1fr;
    }
    .variables-text {
        padding-top: 1rem;
        font-size: 0.5rem;
    }
    .variable input {
        font-size: 0.6rem;
        height: 1rem;
        width: 2rem;
    }
    .variable label {
        font-size: 0.6rem;
    }
    .title {
        font-size: 0.8rem;
    }
}

@media (max-width: 800px) and (orientation: landscape) {
    .tree {
        max-height: 15rem;
    }
}
