---

const { chapter } = Astro.props;

const chapters = [
    "Intro", 
    "Order of Operations", 
    "Four Modules", 
    "Operator Precedence", 
    "Code Intro",
    "Parser",
    "Orderer",
    "Evaluator", 
    "Simplifier",
    "Outro"
]

function getBackHref(chapters, chapter) {
    const idx = chapters.findIndex((c) => c === chapter);

    if(idx === -1 || idx === 0) {
        return "https://kavpix.com";
    }

    return `./part${idx}`;
}

function getNextHref(chapters, chapter) {
    const idx = chapters.findIndex((c) => c === chapter);

    if(idx === -1 || idx === chapters.length - 1) {
        return "https://kavpix.com"
    }

    return `./part${idx + 2}`;
}

function getBackName(chapters, chapter) {
    const idx = chapters.findIndex((c) => c === chapter);

    if(idx === -1 || idx === 0) {
        return "Home";
    }

    return `< ${chapters[idx - 1]}`;
}

function getNextName(chapters, chapter) {
    const idx = chapters.findIndex((c) => c === chapter);

    if(idx === -1 || idx === chapters.length - 1) {
        return "Home"
    }

    return `${chapters[idx + 1]} >`;
}
---


<div class="sticky bottom-0 w-full grid grid-cols-2 py-4 font-sans gap-x-8 bg-slate-300">
    <a 
        class="w-max ml-auto text-center p-2 px-5 bg-blue-300 rounded-md opacity-70 text-indigo-800" 
        href={getBackHref(chapters, chapter)}
    >
        {getBackName(chapters, chapter)}
    </a>
    <a 
        class="w-max mr-auto text-center p-2 px-5 bg-blue-300 rounded-md opacity-70 text-indigo-800"
        href={getNextHref(chapters, chapter)}
    >
        {getNextName(chapters, chapter)}
    </a>
</div>