---

const { chapter } = Astro.props;

type Chapter =
    "Intro" | 
    "Order of Operations" | 
    "Four Modules" | 
    "Operator Precedence" | 
    "Code Intro" |
    "Parser" |
    "Orderer" |
    "Evaluator" | 
    "Simplifier" |
    "Logic Tree" |
    "Outro";
// ^ same as in NextPg.astro


const chaptersList: Chapter[] = [
    "Intro", 
    "Order of Operations", 
    "Four Modules", 
    "Operator Precedence",
    "Code Intro",
    "Parser",
    "Orderer",
    "Evaluator", 
    "Simplifier",
    "Logic Tree",
    "Outro"
]

const nonCodeChapters = {
    title: "Visualization",
    chapters: [
        "Intro", 
        "Order of Operations", 
        "Four Modules", 
        "Operator Precedence",
    ] as Chapter[]
}

const codeChapters = {
    title: "Code",
    chapters: [
        "Code Intro",
        "Parser",
        "Orderer",
        "Evaluator", 
        "Simplifier",
    ] as Chapter[]
}

const outroChapter = {
    title: "",
    chapters: ["Logic Tree", "Outro"] as Chapter[]
}

const allChapters = [nonCodeChapters, codeChapters, outroChapter];

function getHref(chap: Chapter) {
    const idx = chaptersList.findIndex((c) => c === chap);

    return `/number-tree/essay/part${idx + 1}`;
}

---

<p class="pt-10 font-semibold">Go To:</p>

<ol class="pt-10">
    {
        allChapters.map((chapterCategory, idx) => 
            <div class="p-2">
                <hr class="toc-category-break border-indigo-500"/>
                <p class="opacity-80 p-3">{chapterCategory.title}</p>
                <div>
                    {
                        chapterCategory.chapters.map(
                            (c, idx) => 
                            <li class={`w-max px-2 text-center rounded-md ${c === chapter ? "bg-blue-100 text-indigo-900" : ""}`}>
                                    <a href={getHref(c)}>{c}</a>
                            </li>
                        )
                    }
                </div>
            </div>
        )
    }
</ol>