---
import BaseHead from "../components/BaseHead.astro";
import type { CardValues } from "../components/Card.astro";
import Header from "../components/Header.astro";
import { SITE_TITLE } from "../config";
import Cards from "../components/Cards.astro";

const cards: CardValues[] = [
	{text: "Expression Calculator", thumbnail: "/images/exp-calc-logo.svg", link: "/number-tree/essay/part1"},
]
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE}/>
	</head>
	<body class=" bg-slate-200">
		<Header />
		<Cards cards={cards}/>
		<footer/>
	</body>
</html>