---
import BaseHead from "../../components/BaseHead.astro";
import Footer from "../../components/Footer.astro";
import Header from "../../components/Header.astro";
import TreeResult from "../../components/trees/TreeResult.astro";

---

<!DOCTYPE html>
<html lang="en">
    <head>
        <BaseHead title="Kavpix | Logic Gate Calculator"/>
    </head>
    <body>
        <div class="page-cont">
            <Header back="../" />
            <div class="code-example-cont">
                <div class="left">
                    <form id="logic-gate-form">
                        <input 
                            type="text"
                            id="logic-gate-inp"
                            name="logic-gate-inp"
                            required
                        />
                    </form>
                </div>

                <div class="right">
                    <TreeResult />
                </div>
            </div>
            <script>
                import { gateListener } from "../../scripts/logic-gate-tree/logic-tree-interactions";
                gateListener();
            </script>
            <Footer />
        </div>
    </body>
</html>