---

export interface CardValues {
    text: string;
    thumbnail: string;
    link: string;
}

export interface CardProps {
    card: CardValues
};

const { card } = Astro.props;
---
<a class="card-link" href={card.link}>
    <div class="card border-0">
        <div class="card-title bg-orange-200 rounded-t-xl text-indigo-600">{card.text}</div>
        <div class="card-thumbnail">
            <img src={card.thumbnail} />
        </div>
    </div>
</a>