---
export interface HeaderProps {
	back: string;
}
const { back } = Astro.props;
---

<div class="header bg-blue-300">
	<div class="header-left">
		{back === undefined ? null : <div class="back-cont"><a class="back" href={back}>&lt;</a></div>}
	</div>
	<div class="header-middle">
		<div class="header-title">
			<a href="/">
				<img class="header-img" src="/images/website-header.svg" alt="header"/>
			</a>
		</div>
	</div>
	<div class="header-right">
		<div class="socials">
			<a href="https://twitter.com/kavpix" target="_blank">
				<img class="social-img rounded-full bg-white" src="/images/twitter-logo.svg" alt="twitter" />
			</a>
		</div>
	</div>
</div>